/ui/node_modules
/ui/coverage
/ui//build
/ui/.DS_Store
/ui/package-lock.json
/ui/.idea
/ui/.vscode
/ui/package-lock.json
/ui/deploy.sh
/ui/build/

/svc/node_modules
/svc/coverage
/svc//build
/svc/.DS_Store
/svc/package-lock.json
/svc/.idea
/svc/.vscode
/svc/package-lock.json
/svc/deploy.sh
/svc/logs
/svc/run
.DS_Store

